language: python
os:
    - linux
    - windows
    - osx

python:
    - "3.5"
    - "3.6"

install:
    - pip install -r requirements.txt
    #- pip install --only-binary=numpy,scipy numpy scipy
    - pip install -e .
    
script:
    - py.test -v

notifications:
  email: false
